html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: url("thg_background.jpeg") center / cover no-repeat;
}


@font-face {
  font-family: 'AngelicWar';
  src: url('AngelicWar.ttf') format('truetype'); /* or fonts/AngelicWar.ttf if in a folder */
}

.logo {
  font-family: 'AngelicWar', serif;
  font-size: 3rem;
  letter-spacing: 0.05em;
}

